*{
    margin: 0%;
}

.card__upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
     width: 250px;
     margin: 20px;
     border-radius: 5px;
     box-shadow: 5px 5px 15px 5px ;
}

img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__container{
    padding: 20px 30px;
}

.card__container p{
    margin-top: 3px;
}